.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    margin-top: 0; 
    margin-left: 10px;
}

.sorting-section label {
    font-size: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.4s ease;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: transform 0.4s ease;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(40px); 
}

.slider:after {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    font-weight: bold;
    transition: 0.4s ease; 
}
